{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

    <form action="." method="post">
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        {{ form.password.errors }}
        {% csrf_token %}

        {% render_field form.username placeholder=form.username.label class="text_input" %}
        <br/>
        {% render_field form.password placeholder=form.password.label class="text_input" %}
        <br/>
    <input type="submit" value="Войти" class="btn btn-primary button bt"/>
    </form>
{% endblock %}