li a {
    color: green;
}

body {
    text-align: center;
    padding: 10px 100px;
}
.user_list_poll {
    float: left;
    width: 50%;
    text-align: left;
    position: relative;
}



.button:hover::after {
  content: attr(data-title);
  position: absolute; /* Абсолютное позиционирование */
  /*left: 15%;*/
  /*top: 40%; *//* Положение подсказки */
  margin: 10px;
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(238,238,238,0.9); /* Полупрозрачный цвет фона */
  color: #7e7e7e;
  //font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 12px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #c9c9c9; /* Параметры рамки */
}