{% extends "base.html" %}
{% block title %}
    Пользователь:
    {% for poll in poll_list %}
        {% if forloop.counter == 1 %}
            {{ poll.user }}
        {% endif %}
    {% endfor %}
{% endblock %}
    {% block content %}
    {% if poll_list %}
        <ul>
        {% for poll in poll_list %}
            <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    {% endblock %}
