{% extends "base_user.html" %}
    {% block content %}
        <div class="content_box" style="width: 50%;">
            <h3 style="color: #ee4c8d;">Вопрос: {{ poll.question }}</h3>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <p>Варианты ответов:</p>
            {% for choice in poll.choice_set.all %}
                <p>{{ choice.choice_text }}</p>
            {% endfor %}
        </div>

        <form action="." method="post">
        {% csrf_token %}
        <p>{{ form.poll }}</p>
        <p>Кому: {{ form.user }}</p>
        <input type="submit" value="Отправить" class="btn btn-primary button bt"/>
        </form>
    {% endblock %}
